<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Shop', shop_path %>
  <%= link_to 'About', about_path %>
  <%= link_to 'Reviews', reviews_path %>
  <%= link_to 'Contact', contact_path %>
</nav>